<!DOCTYPE html>
<html>

<!-- extends toistaa base.html:ssä sijaitsevan headerin ja footerin sivulle-->
{% extends "base.html" %}
{% block body %}
{% load static %}
<body>
  <div class = etusivu>
  <h1>InfoKorneri</h1>

  <h2> Etusivu</h2>

  <div class="circle-container">
      <div class="center-image">
        <img src="{% static 'päivitettylogotxtkeskellä.png' %}" alt="Center image description">
        <div class="circle-item-text">
        </div>
      </div>
    
      <div class="circle-item">
        <a href="http://127.0.0.1:8000/tyoasia/">
        <img src="{% static 'palikka1.png' %}" alt="Image 1 description">
        
        <div class="circle-item-text">
          <p>Työasia</p>
        </div>
      </a>
      </div>
    
      <div class="circle-item">
        <a href="http://127.0.0.1:8000/palaute/">
        <img src="{% static 'palikka2.png' %}" alt="Image 2 description">
        <div class="circle-item-text">
          <p>Palaute</p>
        </div>
        </a>
      </div>
    
      <div class="circle-item">
        <a href="http://127.0.0.1:8000/talous/">
        <img src="{% static 'palikka3.png' %}" alt="Image 3 description">
        <div class="circle-item-text">
          <p>Talous</p>
        </div>
        </a>
      </div>
    
      <div class="circle-item">
        <a href="http://127.0.0.1:8000/muutto/">
        <img src="{% static 'palikka4.png' %}" alt="Image 4 description">
        
        <div class="circle-item-text">
          <p>Muutto</p>
        </div>
      </a>
      </div>
    
      <div class="circle-item">
        <a href="http://127.0.0.1:8000/opiskelija/">
        <img src="{% static 'palikka5.png' %}" alt="Image 5 description">
        
        <div class="circle-item-text">
          <p>Opiskelija</p>
        </div>
      </a>
      </div>
    </div>   
  </div>
</body>
{% endblock %}
</html>