<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}
{% block body %}
<html>
<body class="info-row">
    <h1 style="text-align: center;">InfoKorneri</h1>

</body>

<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

<div class="button-container">
  <button class="button" onclick="window.location.href='http://127.0.0.1:8000/';">
    <span class="button-bg"></span>
    <span class="button-text">Etusivu</span>
  <button class="button" onclick="document.querySelector('#container1').scrollIntoView({behavior: 'smooth'});">
    <span class="button-bg"></span>
    <span class="button-text">Muuttoilmoitus</span>
  </button>
  <button class="button"onclick="document.querySelector('#container2').scrollIntoView({behavior: 'smooth'});">
    <span class="button-bg"></span>
    <span class="button-text">Kotivaakutus</span>
  </button>
  <button class="button"onclick="document.querySelector('#container2').scrollIntoView({behavior: 'smooth'});">
    <span class="button-bg"></span>
    <span class="button-text">Sähkösopimus</span>
  </button>
  </button>
</div>


<div style="margin: 3vw;"></div>
<div class="otsikko"id="container1">
    <h1>Muuttoilmoitus</h1>
  </div>


  <div class="container">
    <div class="box step-box">
      <div class="step">!</div>
      <div class="content">
        <div class="header">KERÄÄ TIEDOT</div>
        <div class="text">Tarvitset: pankkitunnukset/varmennekortin tai Postin käyttäjätilin, henkilötunnuksen, lähiosoitteen 	uuteen sekä vanhaan kotiin, Postin palvelun, alkamispäivä (päättymispäivä), 	muuttotyyppi, asumisperuste, sähköposti, puhelinnumero </div>
        
        
      </div>
      <div class="image-wrapper">
        <img class="image" src="{% static 'paperipino.png' %}" alt="Example Image">
      </div>
    </div>
  </div>

  <div class="container">
    <div class="box step-box">
      <div class="step">1</div>
      <div class="content">
        <div class="header">POSTI</div>
        <div class="text">
          <div class="text"> Mene osoitteeseen www.posti.fi</div>
            -> Valitse “Kirjeet ja postipalvelut” yläreunasta </div>
        <div class="text">-> Valitse “Postin jakelu ja osoitteenmuutos” vasen reuna  </div>
        <div class="text">-> Valitse “Muuttaminen ja osoitteenmuutos” vasen reuna </div>
        <div class="text">-> Valitse “Tee muuttoilmoitus”</div>
      </div>
      <div class="image-wrapper">
        <img class="image" src="{% static 'www.png' %}" alt="Example Image">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="box step-box">
      <div class="step">2</div>
      <div class="content">
        <div class="header">KIRJAUTUMINEN </div>
        <div class="text"> Kirjaudu sisään Postiin joko pankkitunnuksilla tai postin käyttäjätilillä  </div>

      </div>
      <div class="image-wrapper">
        <img class="image" src="{% static 'näppäimistö.png' %}" alt="Example Image">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="box step-box">
      <div class="step">3</div>
      <div class="content">
        <div class="header">VALITSE</div>
        <div class="text"> Valitse vasemmasta reunasta “Muuttoilmoitus”  </div>
      </div>
      <div class="image-wrapper">
        <img class="image" src="{% static 'klikkaa.png' %}" alt="Example Image">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="box step-box">
      <div class="step">4</div>
      <div class="content">
        <div class="header">KENELLE</div>
        <div class="text"> Valitse kenelle haluat tehdä osoitteenmuutoksen: </div>

        <div class="text">Vain Postille, Vain Digi- ja väestötietovirastolle vai molemmille Postille sekä Digi- ja 	väestötietovirastolle </div>
      </div>
      <div class="image-wrapper">
        <img class="image" src="{% static 'etsi.png' %}" alt="Example Image">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="box step-box">
      <div class="step">5</div>
      <div class="content">
        <div class="header">TÄYTÄ TIEDOT</div>
        <div class="text"> Täytä tiedot lomakkeeseen, jotka olit kerännyt aikaisemmin </div>
        <div class="text">(Tarvittavien tietojen määrä saattaa vaihdella riippuen kenelle haluat tehdä 	osoitteenmuutoksen) </div>
      </div>
      <div class="image-wrapper">
        <img class="image" src="{% static 'lomake.png' %}" alt="Example Image">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="box step-box">
      <div class="step">6</div>
      <div class="content">
        <div class="header">TARKISTA JA LÄHETÄ</div>
        <div class="text"> Tarkista lomakkeen tiedot ja paina lähetä  </div>
      </div>
      <div class="image-wrapper">
        <img class="image" src="{% static 'sopimus.png' %}" alt="Example Image">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="box step-box">
      <div class="step">7</div>
      <div class="content">
        <div class="header">MAKSU</div>
        <div class="text">Riippuen valinnoistasi suorita maksu esimerkiksi verkkopankissasi </div>
      </div>
      <div class="image-wrapper">
        <img class="image" src="{% static 'kolikot.png' %}" alt="Example Image">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="box step-box">
      <div class="step">8</div>
      <div class="content">
        <div class="header">PÄÄTÖS</div>
        <div class="text">Osoitteenmuutos tulee voimaan valitsemastasi alkamispäivästä alkaen </div>
      </div>
      <div class="image-wrapper">
        <img class="image" src="{% static 'päätös.png' %}" alt="Example Image">
      </div>
    </div>
  </div>
  <!-- Uusi lohko alkaa -->
  <div style="margin: 3vw;"></div>
  <div class="otsikko"id="container1">
      <h1>Kotivakuutus</h1>
    </div>
  
  
    <div class="container">
      <div class="box step-box">
        <div class="step">!</div>
        <div class="content">
          <div class="header">KERÄÄ TIEDOT</div>
          <div class="text">Tarvitset: henkilötunnuksen, verkkopankkitunnukset, puhelinnumeron, sähköpostiosoitteen, 		asunnon osoitteen, asunnon koon, postinumero, postitoimipaikka  </div>
          
          
        </div>
        <div class="image-wrapper">
          <img class="image" src="{% static 'paperipino.png' %}" alt="Example Image">
        </div>
      </div>
    </div>
  
    <div class="container">
      <div class="box step-box">
        <div class="step">1</div>
        <div class="content">
          <div class="header">Selvitä</div>
          <div class="text">
              Ota selvää minkälaisen kotivakuutuksen tarvitset asuntoosi. </div>
          <div class="text">Tietoa voit lähteä etsimään esimerkiksi vuokrasopimuksesta tai muista asunnon oston yhteydessä tehdyistä sopimuksista.  </div>
          
        </div>
        <div class="image-wrapper">
          <img class="image" src="{% static 'lista2.png' %}" alt="Example Image">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="box step-box">
        <div class="step">2</div>
        <div class="content">
          <div class="header">KILPAILUTA </div>
          <div class="text">Kannattaa kilpailuttaa kotivakuutuksesi esimerkiksi vertaa.fi nettisivulla  </div>
          <div class="text">Kilpailuttamisesta on lisätietoa saatavilla meidän talous -sivulla (linkki) </div>
      
        </div>
        <div class="image-wrapper">
          <img class="image" src="{% static 'nettipankki.png' %}" alt="Example Image">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="box step-box">
        <div class="step">3</div>
        <div class="content">
          <div class="header">VALITSE</div>
          <div class="text">Valitse sopivin kotivakuutuksen tarjoaja ja siirry tarjoajan nettisivuille  </div>
        </div>
        <div class="image-wrapper">
          <img class="image" src="{% static 'klikkaa.png' %}" alt="Example Image">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="box step-box">
        <div class="step">4</div>
        <div class="content">
          <div class="header">VAKUUTUKSEN HAKEMINEN</div>
          <div class="text">Etsi tarjoajan nettisivuilta kotivakuutus/vakuutus nimikkeellä oleva kohta</div>
          <div class="text">Seuraa nettisivun ohjeita ja täytä tarvittavat tiedot lomakkeeseen  </div>
        </div>
        <div class="image-wrapper">
          <img class="image" src="{% static 'lomake2.png' %}" alt="Example Image">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="box step-box">
        <div class="step">5</div>
        <div class="content">
          <div class="header">TARKISTA JA LÄHETÄ</div>
          <div class="text">Tarkista lomakkeen tiedot sekä vakuutuksen ehdot ja paina lähetä</div>
        
        </div>
        <div class="image-wrapper">
          <img class="image" src="{% static 'sopimus.png' %}" alt="Example Image">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="box step-box">
        <div class="step">6</div>
        <div class="content">
          <div class="header">PÄÄTÖS</div>
          <div class="text">Kotivakuutus tulee voimaan joko muuttopäivänä tai erikseen sovittuna päivämääränä </div>
          <div class="text">Saat sähköpostiin varmistus viestin lomakkeen lähettämisestä   </div>
        </div>
        <div class="image-wrapper">
          <img class="image" src="{% static 'päätös.png' %}" alt="Example Image">
        </div>
      </div>
    </div>
  <!-- Uusi lohko alkaa -->
  <div style="margin: 3vw;"></div>
  <div class="otsikko"id="container1">
      <h1>Sähkösopimus</h1>
    </div>
  
  
    <div class="container">
      <div class="box step-box">
        <div class="step">!</div>
        <div class="content">
          <div class="header">KERÄÄ TIEDOT</div>
          <div class="text">Tarvitset: henkilötunnuksen, puhelinnumeron, sähköpostiosoitteen, nimen, kotiosoitteen, asunnon tiedot, postinumero, postitoimipaikka, muuttopäivämäärän, pankkitunnukset  </div>
          
          
        </div>
        <div class="image-wrapper">
          <img class="image" src="{% static 'paperipino.png' %}" alt="Example Image">
        </div>
      </div>
    </div>
  
    <div class="container">
      <div class="box step-box">
        <div class="step">1</div>
        <div class="content">
          <div class="header">Selvitä</div>
          <div class="text">
            Selvitä tarvitseeko sinun hankkia sähkösopimusta asuntoosi. Jos tarvitsee, selvitä myös kuinka paljon sähköä kulutat saadaksesi parhaimman sähkösopimuksen juuri sinulle. </div>
          <div class="text">Mieti minkälainen sähkösopimus on paras juuri sinulle. Esimerkiksi kiinteä vai kulutukseen sitoutuva, miten sähkö tuotetaan, määräaikainen vai toistaiseksi oleva, sekä onko hinta vakio vai sähköpörssiin sitoutuva.   </div>
          
        </div>
        <div class="image-wrapper">
          <img class="image" src="{% static 'etsi.png' %}" alt="Example Image">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="box step-box">
        <div class="step">2</div>
        <div class="content">
          <div class="header">KILPAILUTA </div>
          <div class="text">Kannattaa kilpailuttaa sähkösopimuksesi esimerkiksi vertaaensin.fi nettisivulla  </div>
          <div class="text">Kilpailuttamisesta on lisätietoa saatavilla meidän talous-sivulla </div>
          <div class="text">(Voit kilpailuttaa sähkön tarjoajien hintoja, mutta et sähkönsiirron tarjoajien hintoja)  </div>
        </div>
        <div class="image-wrapper">
          <img class="image" src="{% static 'nettipankki.png' %}" alt="Example Image">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="box step-box">
        <div class="step">3</div>
        <div class="content">
          <div class="header">VALITSE</div>
          <div class="text">Valitse sopivin sähkösopimuksen tarjoaja ja siirry tarjoajan nettisivuille   </div>
        </div>
        <div class="image-wrapper">
          <img class="image" src="{% static 'valitse.png' %}" alt="Example Image">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="box step-box">
        <div class="step">4</div>
        <div class="content">
          <div class="header">LOMAKE</div>
          <div class="text">Etsi tarjoajan nettisivuilta sähkösopimus nimikkeellä oleva kohta</div>
          <div class="text">Seuraa nettisivun ohjeita ja täytä tarvittavat tiedot lomakkeeseen  </div>
        </div>
        <div class="image-wrapper">
          <img class="image" src="{% static 'lomake2.png' %}" alt="Example Image">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="box step-box">
        <div class="step">5</div>
        <div class="content">
          <div class="header">TARKISTA JA LÄHETÄ</div>
          <div class="text">Tarkista lomakkeen tiedot ja paina lähetä</div>
        
        </div>
        <div class="image-wrapper">
          <img class="image" src="{% static 'sopimus.png' %}" alt="Example Image">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="box step-box">
        <div class="step">6</div>
        <div class="content">
          <div class="header">PÄÄTÖS</div>
          <div class="text">Sähkösopimus tulee voimaan sinä päivänä, jonka olet valinnut sähkönsiirron alkamispäiväksi. </div>
          <div class="text">Saat sähköpostiin varmistus viestin lomakkeen lähettämisestä   </div>
        </div>
        <div class="image-wrapper">
          <img class="image" src="{% static 'päätös.png' %}" alt="Example Image">
        </div>
      </div>
    </div>
{% endblock %}
</html>
