<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}
{% block body %}
<html>
<body class="info-row">
    <h1 style="text-align: center;">InfoKorneri</h1>

</body>

<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

<div class="button-container">
  <button class="button" onclick="window.location.href='http://127.0.0.1:8000/';">
    <span class="button-bg"></span>
    <span class="button-text">Etusivu</span>
  <button class="button" onclick="document.querySelector('#container1').scrollIntoView({behavior: 'smooth'});">
    <span class="button-bg"></span>
    <span class="button-text">Opintotuki</span>
  </button>
  <button class="button"onclick="document.querySelector('#container2').scrollIntoView({behavior: 'smooth'});">
    <span class="button-bg"></span>
    <span class="button-text">Yleinen asumistuki</span>
  </button>
  </button>
</div>


<div style="margin: 3vw;"></div>
<div class="otsikko"id="container1">
    <h1>Opintotuki</h1>
  </div>


  <div class="container">
    <div class="box step-box">
      <div class="step">!</div>
      <div class="content">
        <div class="header">KERÄÄ TIEDOT</div>
        <div class="text">Tarvitset: pankkitunnukset, tilinumero, BIC-koodi, </div>
        <div class="text">oppilaitoksen nimi, aloituspäivämäärä,</div>
        <div class="text">arvioitu valmistumispäivämäärä</div>
        
      </div>
      <div class="image-wrapper">
        <img class="image" src="{% static 'paperipino.png' %}" alt="Example Image">
      </div>
    </div>
  </div>

  <div class="container">
    <div class="box step-box">
      <div class="step">1</div>
      <div class="content">
        <div class="header">OMAKELA</div>
        <div class="text">
          Kirjaudu www.kela.fi</div>
        <div class="text"> pankkitunnuksilla: </div>
        <div class="text">-> Oikea yläkulma </div>
        <div class="text">-> ”Asioi verkossa”  </div>
        <div class="text">-> ”Kirjaudu OmaKelaan” </div>
      </div>
      <div class="image-wrapper">
        <img class="image" src="{% static 'www.png' %}" alt="Example Image">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="box step-box">
      <div class="step">2</div>
      <div class="content">
        <div class="header">HAKEMUKSEN VALITSEMINEN</div>
        <div class="text">Valitse vasemmasta reunasta </div>
        <div class="text">”Tee hakemus” </div>
        <div class="text">->Valitse Opiskelu</div>
        <div class="text">->”Opintotuki”</div>
      </div>
      <div class="image-wrapper">
        <img class="image" src="{% static 'lomake.png' %}" alt="Example Image">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="box step-box">
      <div class="step">3</div>
      <div class="content">
        <div class="header">TÄYTÄ TIEDOT</div>
        <div class="text">Täytä tiedot lomakkeeseen </div>
        <div class="text"> ja lisää tarvittavat liitteet </div>
      </div>
      <div class="image-wrapper">
        <img class="image" src="{% static 'kirjoitus.png' %}" alt="Example Image">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="box step-box">
      <div class="step">4</div>
      <div class="content">
        <div class="header">TARKISTA JA LÄHETÄ </div>
        <div class="text">Tarkista lomakkeen tiedot </div>
        <div class="text">->Paina lähetä </div>
      </div>
      <div class="image-wrapper">
        <img class="image" src="{% static 'send.png' %}" alt="Example Image">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="box step-box">
      <div class="step">5</div>
      <div class="content">
        <div class="header">PÄÄTÖS </div>
        <div class="text">Päätös tulee OmaKelaan</div>
        <div class="text">sekä postitse </div>
      </div>
      <div class="image-wrapper">
        <img class="image" src="{% static 'päätös.png' %}" alt="Example Image">
      </div>
    </div>
  </div>
<div style="margin: 4vw;"></div>
<div class="otsikko"id="container2">
    <h1>Yleinen asumistuki</h1>
  </div>

  <div class="container">
    <div class="box step-box">
      <div class="step">!</div>
      <div class="content">
        <div class="header">KERÄÄ TIEDOT</div>
        <div class="text">Tarvitset: pankkitunnukset, tilinumero, pankin BIC-koodi,</div>
        <div class="text">vuokrasopimus (liitteeksi hakemukseen),</div>
        <div class="text">asumismenot (vuokra, vesimaksu, lämmityskustannukset),</div>
        <div class="text">tiedot kaikista tuloista</div>
      </div>
      <div class="image-wrapper">
        <img class="image" src="{% static 'paperipino.png' %}" alt="Example Image">
      </div>
    </div>
  </div>

  <div class="container">
    <div class="box step-box">
      <div class="step">1</div>
      <div class="content">
        <div class="header">OMAKELA</div>
        <div class="text">
          Kirjaudu www.kela.fi</div>
        <div class="text"> pankkitunnuksilla: </div>
        <div class="text">-> Oikea yläkulma </div>
        <div class="text">-> ”Asioi verkossa”  </div>
        <div class="text">-> ”Kirjaudu OmaKelaan” </div>
      </div>
      <div class="image-wrapper">
        <img class="image" src="{% static 'www.png' %}" alt="Example Image">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="box step-box">
      <div class="step">2</div>
      <div class="content">
        <div class="header">HAKEMUKSEN VALITSEMINEN</div>
        <div class="text">Valitse vasemmasta reunasta </div>
        <div class="text">”Tee hakemus” </div>
        <div class="text">->Valitse Opiskelu</div>
        <div class="text">->”Yleinen asumistuki”</div>
      </div>
      <div class="image-wrapper">
        <img class="image" src="{% static 'lomake.png' %}" alt="Example Image">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="box step-box">
      <div class="step">3</div>
      <div class="content">
        <div class="header">TÄYTÄ TIEDOT</div>
        <div class="text">Täytä tiedot lomakkeeseen </div>
        <div class="text">ja lisää tarvittavat liitteet </div>
        <div class="text">(esim. kuvatiedostona)</div>
      </div>
      <div class="image-wrapper">
        <img class="image" src="{% static 'kirjoitus.png' %}" alt="Example Image">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="box step-box">
      <div class="step">4</div>
      <div class="content">
        <div class="header">TARKISTA JA LÄHETÄ </div>
        <div class="text">Tarkista lomakkeen tiedot </div>
        <div class="text">->Paina lähetä </div>
      </div>
      <div class="image-wrapper">
        <img class="image" src="{% static 'send.png' %}" alt="Example Image">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="box step-box">
      <div class="step">5</div>
      <div class="content">
        <div class="header">PÄÄTÖS </div>
        <div class="text">Päätös tulee OmaKelaan</div>
        <div class="text">sekä postitse </div>
      </div>
      <div class="image-wrapper">
        <img class="image" src="{% static 'päätös.png' %}" alt="Example Image">
      </div>
    </div>
  </div>
  <div style="font-size: 10px";>
    <div style="text-align: center;">
    <h1>Ajankohtaisen käsittelyajan voi katsoa:</h1><a href="https://www.kela.fi/kasittelyajat"><h1>https://www.kela.fi/kasittelyajat</h1></a>
    <div style="margin: 2vw;"></div>
    <h1>Tarvittaessa ota yhteyttä Kelaan arkisin 9-16</h1>
    <h1>Asuminen: p. 020 692 210</h1>
    <h1>Opiskelu: p. 020 692 209</h1>
    
  </div>
  </div>
  <div style="font-size: 15px;">
      <div style="text-align: center;">
        <div style="margin: 3vw;"></div>
      <p>Tiedot haettu sivustolta kela.fi</p>
      </div>
  </div>
{% endblock %}
</html>
