<!DOCTYPE html>
{% extends "base.html" %}
{% block body %}
{% load static %}

<html>
<head>
    <title> Talous sivu</title>
</head>
<body class="info-row">
    <h1>Kilpailuttaminen</h1>
    <div class="container">
       <div class="div1">
        <div class="box step-box">
          <div class="step">!</div>
          <div class="content">
            <div class="text">Kilpailuttaminen tarkoittaa montaa asiaa. Tässä tekstissä keskitytään erityisesti hintojen kilpailuttamiseen.</div>
        </div>
         
        </div>
      </div>
      <div class="container">
        <div class="div1">
        <div class="box step-box">
          <div class="step">!</div>
          <div class="content">
            <div class="text">Hintojen kilpailuttaminen tarkoittaa sitä, että koitetaan etsiä mahdollisimman edullinen hinta tuotteelle tietyillä kriteereillä. Asioita, joita voi kilpailuttaa on esimerkiksi kotivakuutukset, lainat, sähkösopimukset sekä puhelinliittymät. Hintojen kilpailuttamisella voi tehdä isoja säästöjä. Yritysten tarjoama hinta samasta vakuutuksesta tai liittymästä voi heitellä huomattavasti, minkä takia hintojen kilpailuttaminen on kannattavaa.</div>
        </div>
         
        </div>
      </div>
      <div class="container">
        <div class="div1">
        <div class="box step-box">
          <div class="step">!</div>
          <div class="content">
            <div class="text">Nykyään kilpailuttaminen on helppoa ja nopeaa. Kilpailuttamiseen on tarjolla monia palveluita, jotka tekevät sen henkilön puolesta. Nämä palvelut etsivät ja vertailevat mahdolliset yritykset ja esittävät niiden mahdollisen hinnan esimerkiksi kotivakuutukselle.  </div>
          </div>
         
        </div>
      </div>

</body>
{% endblock %}
</html>