<!DOCTYPE html>
{% extends "base.html" %}
{% block body %}
{% load static %}
<html>

<head>
    <title> Työsuhdesivu</title>
</head>
<body class="info-row">
    <h1>InfoKorneri</h1>
    <!-- <div class="container">
        <img src="{% static 'kesken.png' %}"
        width="500"
        height="600" /> -->


<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">


<div class="button-container">
  <button class="button" onclick="window.location.href='http://127.0.0.1:8000/';">
    <span class="button-bg"></span>
    <span class="button-text">Etusivu</span>
  <button class="button" onclick="document.querySelector('#container1').scrollIntoView({behavior: 'smooth'});">
    <span class="button-bg"></span>
    <span class="button-text">Työsopimus</span>
  </button>
  </button>
</div>


<div style="margin: 3vw;"></div>
<div class="otsikko"id="container1">
    <h1>Työsopimus</h1>
  </div>


  <div class="container">
    <div class="box step-box">
      <div class="step">!</div>
      <div class="content">
        <div class="header">YLEISTÄ </div>
        <div class="text">Työsopimus on työntekijän ja työnantajan välinen sopimus, joka solmitaan ennen työsuhteen alkua. Työsopimuksen tarkoitus on sopia ja määritellä ehdot sille, miten työntekijä tulee työnantajan palvelukseen. Työsopimus on vapaamuotoinen sopimus, joka voi olla suullinen tai kirjallinen.</div>
        <div class="text">Työsopimusta tehdessä kannattaa lukea työsopimus tarkasti ja harkitusti sekä kiinnittää huomiota seuraaviin asioihin, että ne löytyvät sopimuksesta: </div>

      </div>
      <div class="image-wrapper">
        <img class="image" src="{% static 'huom.png' %}" alt="Example Image">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="box step-box">
      <div class="step">1</div>
      <div class="content">
        <div class="header">TYÖSOPIMUKSEN OSAPUOLET</div>

        <div class="text"><b> Työnantaja/yritys: </b></div>
        <div class="text">Nimi, henkilötunnus/Y-tunnus, liike- tai kotipaikka.</div>
        <div class="text"><b> Työntekijä: </b> </div>
        <div class="text">Nimi, henkilötunnus, osoite, pankki ja tilinumero </div>
      </div>
      <div class="image-wrapper">
        <img class="image" src="{% static 'henkkari.png' %}" alt="Example Image">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="box step-box">
      <div class="step">2</div>
      <div class="content">
        <div class="header">TYÖSUHTEEN VOIMASSAOLO</div>

        <div class="text">Työsopimuksen voimassaolo eli työsuhteen alkamispäivä sekä loppumispäivä (jos päättymispäivä tiedossa). </div>
        <div class="text">Työsopimuksen tyyppi eli onko sopimus toistaiseksi voimassa oleva vai määräaikainen.</div>
        <div class="text">Kiinnitä huomiota, että määräaikaisuus on perusteltu sekä työsuhteen kesto on arvioitu sopimuksessa. </div>
      </div>
      <div class="image-wrapper">
        <img class="image" src="{% static 'kalenteri.png' %}" alt="Example Image">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="box step-box">
      <div class="step">3</div>
      <div class="content">
        <div class="header">TYÖTEHTÄVÄT</div>

        <div class="text">Tarkista, että työntekijän työtehtävät ovat määritelty sekä mahdolliset poikkeukset.</div>
      </div>
      <div class="image-wrapper">
        <img class="image" src="{% static 'puhe.png' %}" alt="Example Image">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="box step-box">
      <div class="step">4</div>
      <div class="content">
        <div class="header">TYÖSUHTEEN EHDOT</div>

        <div class="text">Tämä on sopimuksen tärkein kohta. Tässä osiossa määritellään kaikki mahdolliset ehdot työsuhteelle: </div>
        <div class="text">- palkka ja palkanmaksukausi</div>
        <div class="text">- työaika</div>
        <div class="text">- vuosiloma </div>
        <div class="text">- irtisanomisaika </div>
        <div class="text">- mahdollisiin ylitöihin liittyvät asiat </div>
        <div class="text">- lainsäädännöllisesti alaa koskevat työehtosopimukset (TES) </div>
        <div class="text">- muita työstä riippuen tarvittavia ehtoja sekä määrityksiä asioille </div>
      </div>
      <div class="image-wrapper">
        <img class="image" src="{% static 'lakipaperi.png' %}" alt="Example Image">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="box step-box">
      <div class="step">5</div>
      <div class="content">
        <div class="header">ALLEKIRJOITUKSET </div>

        <div class="text">Molempien osapuolien, työnantajan ja työntekijän, allekirjoitus sekä työsopimuksen solmimisen aika ja paikka. </div>
      </div>
      <div class="image-wrapper">
        <img class="image" src="{% static 'allekirjoita.png' %}" alt="Example Image">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="box step-box">
      <div class="step">6</div>
      <div class="content">
        <div class="header">TARKISTA </div>

        <div class="text">Ennen työsopimuksen hyväksymistä tarkista ja lue työsopimuksen tiedot läpi. Tarkista, että se on oikeanlainen juuri sinulle.</div>
      </div>
      <div class="image-wrapper">
        <img class="image" src="{% static 'sopimus.png' %}" alt="Example Image">
      </div>
    </div>
  </div>

{% endblock %}
</html>