<!DOCTYPE html>
<html>
<head>
    <title> Yhteydenotto sivu</title>
</head>
<body>
    <h1>Tämä on yhteydenottosivu</h1>
    <a href="http://127.0.0.1:8000/">Clickaa tästä etusivulle</a>
    
        <div class="keskita">
        {% if submitted %}
            <h1 class="kiitos">Kiitos palautteesta!</h1>
        {% else %}

        <form action="" method=POST>
            <h1 class="palauteotsikko">Palautelomake</h1>
            {% csrf_token %}
        <div class = "nimi-p"> 
            <p> Nimi </p>
            {{ form.nimi }} </div>
        <div class = "sp-p"></div>
            <p> Sähköposti </p>
            {{ form.sposti }}
        <div class = "palaute-p">
            <p> Palaute </p>
            {{ form.palaute }} </div>
            
        <input type="submit" value="Lähetä" class="palaute_painike">
        </form>
        {% endif %}
        </div>
    

</body>
</html>