
.etusivu {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: auto;
  }
  .menu{
    margin: auto;
  }
  .navigointi {
    margin: auto;
  }





  
  .circle-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    margin-top: 50px;
    /* background-color: #f2f2f2; */
  }
  .center-image {
    position: absolute;
    
   
    z-index: 1;
  }
  
  .circle-item {
    margin: 100px;
    position: absolute;
    transform-origin: center bottom;
  }
  
  .circle-item img {
    display: block;
    margin: 50 auto;
    height: 75px; /* Adjust this value to change the image size */
    width: 250px; /* Adjust this value to change the image size */
  }
  
  .circle-item-text {
    font-family:Arial, Helvetica, sans-serif;
    font-size: xx-large;
    position: absolute;
    /* bottom: -10px; Adjust this value to change the distance between the image and text */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .circle-item:nth-child(1) {
    transform: rotate(0deg) translateY(-250px) rotate(0deg);
  }
  
  .circle-item:nth-child(2) {
    transform: rotate(72deg) translateY(-250px) rotate(-72deg);
  }
  
  .circle-item:nth-child(3) {
    transform: rotate(144deg) translateY(-250px) rotate(-144deg);
  }
  
  .circle-item:nth-child(4) {
    transform: rotate(216deg) translateY(-250px) rotate(-216deg);
  }
  
  .circle-item:nth-child(5) {
    transform: rotate(288deg) translateY(-250px) rotate(-288deg);
  }
  
  .circle-item:nth-child(6) {
    transform: rotate(360deg) translateY(-250px) rotate(-360deg);
  }

  /* PALAUTELOMAKE-SIVU */

.keskita {
  display: flex;
  flex: 1;
  justify-content:center;
  align-items: center;
  height: 88vh;
}

.keskita p {
  margin-top: 12px;
}

.palauteotsikko {
  margin-bottom: 20px;
  font-size: 37px;
}

.keskita .palaute_painike{
  float: right;
}

.keskita .av-lisatiedot {
  height: 250px;
}

.palaute_painike:hover {
  transition: 0.5s;
  background-color: #b85232;
  color: white;
}

.keskita form {
  width: 600px;
}

#palauteotsikko {
  font-family: "Montserrat", sans-serif;
  font-size: 34px;
  width: 100%;
}

.palaute_nimi {
  width: 100%;
  height: 45px;
  padding: 12px 5px;
  border: 5px solid #ccc;
  border-radius: 4px;
  background-color: #24252a;
  font-size: large;
  font-family: "Montserrat", sans-serif;
  color: white;
}

.palaute_sposti {
  width: 100%;
  height: 45px;
  padding: 12px 5px;
  border: 5px solid #ccc;
  border-radius: 4px;
  background-color: #24252a;
  font-size: large;
  font-family: "Montserrat", sans-serif;
  color: white;
}

.palaute_textarea {
  width: 100%;
  height: 250px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 5px solid #ccc;
  border-radius: 4px;
  background-color: #24252a;
  resize: none;
  font-size: large;
  font-family: "Montserrat", sans-serif;
  color: white;
}


/* opiskelija sivu*/
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 800px;
}

.box {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px 0;
  width: 100%;
}

.step {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 80px;
  font-weight: bold;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
}

.header {
  font-size: 27px;
  font-weight: bold;
  margin-bottom: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.text {
  flex: 1;
  font-size: 17px;
  margin-bottom: 10px;
  width: 500px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.image-wrapper {
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.image {
  max-width: 150%;
  height: auto;
  border-radius: 10px;
}

@media (min-width: 768px) {
  .content {
    margin-left: 40px;
    padding: 40px;
  }
  
  .image-wrapper {
    width: auto;
    margin-right: 40px;
  }
}

.button-container {
  text-align: center;
}
.button {
  display: inline-block;
  margin: 1vw;
  width: 250px;
  height: 50px;
  line-height: 50px;
  border: none;
  background-color: #fff24b;
  color: #000000;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  outline: none; /* Add this line to disable the outline */
}

.button .button-bg {
  display: block;
  width: 100%;
  height: 100%;
  background-color: #fff24b;
}

.button .button-text {
  display: block;
  position: relative;
  top: -50px;
  font-size: 20px;
  font-weight: bold;
  color: #000000;
  line-height: 50px;
}
/*otsikko*/

.otsikko {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
}

.otsikko h1 {
  font-size: 40px;
  font-weight: bold;
  line-height: 1;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0.5em;
  background-color: #fff24b;
  width: 450px;
  height: 50px;
}
.info-row .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  margin: 0 auto;
  max-width: 800px;
  
}
.info-row .column {
  flex: 1;
  padding: 0px;
  
  margin: 10px;
  text-align: center;
}

.info-row .row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.info-row .row img {
  max-width: 100%;
  height: auto;
}

.info-row .row p {
  margin: 0 10px;
}

.info-row .text-row {
 
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 20px;
  text-align: center;
  margin: 10px;
}

.info-row .text-row img {
  max-width: 100%;
  height: auto;
}

/* New styles added for header */
.info-row h1 {
  text-align: center;
  margin-top: 0;
}

.info-row .text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}