.opiskelija_sivu.html .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    margin: 0 auto;
    max-width: 800px;
}

.opiskelija_sivu.html .column {
    flex: 1;
    padding: 20px;
    border: 1px solid #ccc;
    margin: 10px;
    text-align: center;
}

.opiskelija_sivu.html .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.opiskelija_sivu.html .row img {
    max-width: 100%;
    height: auto;
}

.opiskelija_sivu.html .row p {
    margin: 0 10px;
}

.opiskelija_sivu.html .text-row {
    background-image: url("{% static 'background.png' %}");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 20px;
    text-align: center;
    margin: 10px;
}

.opiskelija_sivu.html .text-row img {
    max-width: 100%;
    height: auto;
}
