.warningrow .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    margin: 0 auto;
    max-width: 100px;
}

.warningrow .column {
    flex: 1;
    padding: 10vw;
    /* border: 1px solid #ccc; */
    margin: 10vw;
    text-align: center;
}
.warningrow .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.warningrow .row img {
    max-width: 100%;
    height: auto;
}

.warningrow .row p {
    margin: 0 10vw;
    font-size: 20vw;
    
}
/* apply different styles for smaller screens */
/* apply different styles for larger screens */
@media screen and (min-width: 1200px) {
    .flex-item {
      width: 31%;
      margin-right: 2%;
    }
    .flex-item:nth-child(3n) {
      margin-right: 0;
    }
  }
  
  /* apply different styles for smaller screens */
  @media screen and (max-width: 1200px) {
    .flex-item {
      width: 48%;
      margin-right: 4%;
    }
    .flex-item:nth-child(2n) {
      margin-right: 0;
    }
  }
  
  /* apply different styles for smaller screens */
  @media screen and (max-width: 600px) {
    .flex-item {
      width: 100%;
      margin-right: 0;
    }
  }
.warningrow .text-row {
    /*background-image: url("{% static 'backgroundd.png' %}"); */
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 20vw;
    text-align: center;
    margin: 10vw;
}

.warningrow .text-row img {
    max-width: 100%;
    height: auto;
}


/* New styles added for header */
.warningrow h1 {
    text-align: center;
    margin-top: 0;
}

.warningrow .text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}